body {
    background-color: rgb(119, 119, 120);
}

h2 {
    text-align: center;
    color: rgb(253, 253, 253);
    text-decoration: underline;
    text-underline-offset: 8px;
}

#numero {
    font-size: 16px;
    padding-inline: 8px;
    padding-block: 4px;
    text-align: center;

}

#btnAdicionar{
    border: none;
    padding: 4px;
    border-radius: 2px;
    background-color: green;
    color: white;
    font-weight: bold;
   
}

#btnAdicionar:hover {
    background-color: yellowgreen;
    cursor: pointer;
}

#exibir-array{
    background-color: red;
    color: white;
}

#btnRemover{
    border: none;
    padding: 4px;
    border-radius: 2px;
    background-color: green;
    color: white;
    font-weight: bold;
   
}

#btnRemover:hover {
    background-color: yellowgreen;
    cursor: pointer;
}

#exibir-array{
    background-color: red;
    color: white;
}

#numero1 {
    font-size: 16px;
    padding-inline: 8px;
    padding-block: 4px;
    text-align: center;

}




